@import "./utils/vars";
@import "./utils/global";
@import "./components/logo";
@import "./components/page-header";
@import "./components/hero";
@import "./components/advantages";
@import "./components/tender";
@import "./components/team";
@import "./components/client";
@import "./components/footer";
@import "./components/social-media";
@import "./components/form";
@import "./components/button";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/menu-portfolio";
@import "./components/card-portfolio";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: $fontFamily;
  color: $textColor;
  background-color: $whiteColor;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.section {
  margin-top: 94px;
  margin-bottom: 94px;
}
