.portfolio {
  display: flex;
  background-color: $whiteColor;
  justify-content: center;

  &__box {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 94px;
    margin-top: 34px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backgrandColorPortfolio;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list {
    background-color: $whiteColor;
    border-radius: 0px 0px 4px 4px;
    border-bottom: 1px solid $portfolioColor;
    border-left: 1px solid $portfolioColor;
    border-right: 1px solid $portfolioColor;
    position: relative;

    &:hover,
    &:focus {
      box-shadow: $boxShadowPortfolio;
      cursor: $cursor;
      transform: translate(0);

      .portfolio__overlay,
      .portfolio__overlay {
        transform: translate(0);
      }
    }
  }
  &__name {
    @extend %title;
    font-size: 18px;
    line-height: 1.88;
    color: $textColor;
    padding-left: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
  }

  &__job {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $paragraphColor;
    padding-left: 24px;
  }

  &__card {
    position: relative;
    overflow: hidden;
  }

  &__description {
    color: $whiteColor;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 49px 45px 49px 24px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    &__box {
      justify-content: space-between;
    }

    &__list {
      max-width: 354px;
    }
  }
}
