.client {
  &__title {
    @extend %title;
    font-size: 1.75rem;
    line-height: 1.18;
    text-align: center;
    padding-bottom: 1.875rem;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    fill: $iconColor;
    justify-content: space-around;
    gap: 1.875rem;
  }

  &__icon {
    border: 1px solid $iconColor;
    border-radius: 4px;
    padding: 1rem 2rem;

    &:hover,
    &:focus,
    &:active {
      fill: $brandColor;
      border: 1px solid $brandColor;
      border-radius: 4px;
      cursor: $cursor;
    }
  }
}

@media screen and (min-width: 1200px) {
  .client {
    &__box {
      flex-wrap: nowrap;
    }
  }
}
