.contact {
  padding: 60px 0px;
  color: #fff;
  background-color: #2f303a;
  line-height: 1.7;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  &__space {
    text-align: center;
    margin-bottom: 60px;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
  }

  &__data {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $whiteColor;
    padding-top: 20px;
    text-decoration: none;
    font-style: italic;
  }

  &__mail {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $contactColor;
    text-decoration: none;
  }

  &__phone {
    @extend .contact__mail;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    &__flex {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    &__flex {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }

    &__space {
      text-align: left;
      margin-bottom: 0;
    }
  }
}
