.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &__title {
    @extend %title;
    text-transform: uppercase;
    color: $whiteColor;
    margin-bottom: 1.25em;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    flex-wrap: nowrap;

    &__title {
      align-self: flex-start;
    }
  }
}
