.form {
  display: block;
  align-items: center;
  margin-top: 3.75rem;

  &__title {
    @extend %title;
    text-transform: uppercase;
    color: $whiteColor;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .form {

  }
}

// .form {
//   float: left;
//   margin-top: 72px;

//   &__title {
//     @extend %title;
//     text-transform: uppercase;
//     color: $whiteColor;
//     margin-bottom: 20px;
//   }
// }
