.primary {
  background-color: $bgnColor;
  background-image: url(../images/header-img.jpg),
    linear-gradient(90deg, $backgroundImageColor 0%, $backgroundImageColor 0%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: drop-shadow (0px 4px 4px $shadowColor);
  text-align: center;
  border: 1px solid transparent;
  padding: 5.875rem 0;
  display: flex;

  &__title {
    font-weight: 900;
    font-size: 1.625rem;
    line-height: 1.62;
    text-transform: uppercase;
    color: $whiteColor;
    letter-spacing: 0.06em;
    text-align: center;
    max-width: 22.812rem;
    padding-bottom: 30px;
  }

  &__buttom {
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: $cursor;
    border-radius: 4px;
    border-style: none;
    background-color: $backgrandColor;
    padding: 0.625rem 2.562rem;

    &:hover {
      background-color: $brandColor;
      color: $whiteColor;
      border-style: none;
      box-shadow: $boxShadow;
    }
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .primary {
    background-image: url(../images/header-img@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .primary {
    background-image: url(../images/header-img-tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .primary {
    background-image: url(../images/header-img-desctop.jpg);
    padding: 200px 0;

    &__title {
      max-width: 696px;
      font-size: 2.75rem;
      line-height: 1.36;
      text-transform: uppercase;
      color: $whiteColor;
    }
  }
}
