.logo {
  font-family: $fontFamilyIcon;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;

 
  &__first-part {
    color: $brandColor;
  }

  &__secend-part {
    color: $whiteColor;
  }
}
