.menu-portfolio {
  display: flex;
  justify-content: left;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 60px;
  flex-direction: row;
  flex-wrap: wrap;

  &__btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: $textColor;
    background-color: $backgrandColor;
    border-radius: 4px;
    cursor: $cursor;
    border-style: none;
    padding: 6px 22px;

    &:hover,
    &:focus {
      background-color: $brandColor;
      color: $whiteColor;
      border-style: none;
      box-shadow: $boxShadowPortfolio;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-portfolio {
    justify-content: center;
  }
}

