.modal {
  position: absolute;
  top: auto;
  left: auto;
  margin-left: 15px;
  margin-right: 15px;
  background-color: $whiteColor;
  box-shadow: $boxShadow;
  border-radius: 4px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &__title {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $textColor;
    margin: 2.5rem 2.5rem 0.75rem 2.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  &__name {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $paragraphColor;
    padding-top: 4px;
  }

  &__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    position: relative;
    margin-bottom: 0.625rem;

    &:hover,
    &:focus {
      color: $brandColor;
      border: 1px solid $brandColor;
      border-radius: 4px;
      outline: none;
      fill: $brandColor;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__input-name {
    outline: none;
    border: none;
    font-size: 0.75rem;
    line-height: 1.16;
    letter-spacing: 0.01em;
    padding-left: 2.625rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  &__box {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $paragraphColor;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 1.875rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__statute {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: $brandColor;
  }

  &__button {
    outline: none;
    background: $brandColor;
    border-radius: 4px;
    border-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: $whiteColor;
    padding: 10px 76px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-bottom: 2.5rem;

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &--close {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 30px;
      height: 30px;
      background: $whiteColor;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      cursor: $cursor;

      &:hover,
      &:focus {
        color: $brandColor;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }

  &__textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    height: 96px;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    padding: 12px 16px;

    &:hover,
    &:focus {
      border: 1px solid $brandColor;
      color: $textColor;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__checkbox {
    background-color: $whiteColor;
    margin: 0;
    appearance: none;
    border: 2px solid $textColor;
    border-radius: 2px;
    width: 16px;
    height: 15px;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:checked {
      opacity: 0;
    }
  }

  &__checkbox-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-68%);
    opacity: 0;
    fill: $whiteColor;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__checkbox:checked + &__checkbox-icon {
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 33rem;
    height: 36.312rem;

    &__title {
      margin: 2.5rem 0 0.75rem 0;
    }

    &__box {
      font-size: 0.875rem;
      line-height: 1.71;
      margin-left: 3.437rem;
      margin-right: 3.375rem;
      margin-bottom: 1.875rem;
    }

    &__statute {
      font-size: 0.875rem;
      line-height: 1.71;
    }

    &__button {
      margin-left: 164px;
    }
  }
}
