.social-media {
  text-align: center;
  margin-bottom: 60px;

  &__title {
    @extend %title;
    text-transform: uppercase;
    color: $whiteColor;
    margin-bottom: 20px;
  }

  &__box {
    @extend %box;
    cursor: $cursor;
    justify-content: center;

    &:hover,
    &:focus,
    &:active {
      fill: $whiteColor;
    }
  }

  &__icon {
    @extend %icon;
    cursor: $cursor;
    box-shadow: 0px 4px 4px $shadowColor;

    &:hover,
    &:focus,
    &:active {
      background-color: $brandColor;
    }
  }
}

@media screen and (min-width: 1200px) {
  .social-media {
    text-align: left;
    margin-bottom: 0;
  }
}
