.social-media {
  float: left;
  margin-top: 72px;
  margin-right: 78px;

  &__title {
    @extend %title;
    text-transform: uppercase;
    color: $whiteColor;
    margin-bottom: 20px;
  }

  &__box {
    @extend %box;
    cursor: $cursor;

    &:hover,
    &:focus,
    &:active {
      fill: $whiteColor;
    }
  }

  &__icon {
    @extend %icon;
    cursor: $cursor;
    box-shadow: 0px 4px 4px $shadowColor;

    &:hover,
    &:focus,
    &:active {
      background-color: $brandColor;
    }
  }
}
