.team {
  background-color: $backgrandColor;
  text-align: center;

  &__title {
    @extend %title;
    font-size: 1.75rem;
    line-height: 1.18;
    text-align: center;
    padding-top: 3.75rem;
    padding-bottom: 1.875rem;
    margin: 0;
  }
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 3.75rem;
    gap: 1.875rem;
  }

  &__card {
    background-color: $whiteColor;
    box-shadow: $boxShadow;
    border-radius: 0px 0px 0.25rem 0.25rem;
  }

  &__name {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $textColor;
    justify-content: center;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
  }

  &__job {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $paragraphColor;
    margin-bottom: 1rem;
  }

  &__box {
    @extend %box;
    justify-content: center;
  }

  &__icon {
    fill: $iconColor;
    border-radius: 50%;
    background-color: $backgrandIcon;
    cursor: $cursor;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .team {
    padding-bottom: 1.875rem;

    &__flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      list-style-type: none;
      margin-bottom: 0;
      gap: 0;
    }

    &__card {
      margin-bottom: 1.875rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 5.875rem;

    &__title {
      font-size: 2.25rem;
      line-height: 1.16;
      padding-top: 5.875rem;
      padding-bottom: 3.125rem;
      margin: 0;
    }

    &__icon {
      fill: $whiteColor;
      margin-bottom: 0;

      &:hover,
      &:focus,
      &:active {
        fill: $whiteColor;
        background-color: $brandColor;
      }
    }

    &__flex {
      flex-wrap: nowrap;
      gap: 1.875rem;
    }
  }
}
