/*kolor*/
$brandColor: #2196f3;
$textColor: #212121;
$bgnColor: #2f303a;
$paragraphColor: #757575;
$whiteColor: #ffffff;
$iconColor: #afb1b8;
$backgrandColor: #f5f4fa;
$backgrandIcon: rgba(255, 255, 255, 0.1);
$borderColor: #ececec;
$portfolioColor: #eeeeee;
$backgroundImageColor: rgba(47, 48, 58, 0.4);
$shadowColor: rgba(0, 0, 0, 0.25);
$backgrandTenderColor: rgba(47, 48, 58, 0.8);
$contactColor: rgba(255, 255, 255, 0.6);
$backgrandColorPortfolio: rgba(33, 150, 243, 0.9);

$boxShadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);

$boxShadowPortfolio: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

/*czcionki*/
$fontFamily: "Roboto", sans-serif;
$fontFamilyIcon: "Raleway", sans-serif;

$cursor: pointer;
